.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
form {
  width: 300px;
  height: auto;
  background-color: #f7f9fa;
  padding: 15px 45px;
}
.btn-primary {
  color: #fff;
  background-color: #58c4d7;
  border: none;
  max-width: 112px;
  font-size: 14px;
  height: 36px;
  margin-right: 20px;
  padding: 0 18px;
  line-height: 1;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #31b4cb;
}
input {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
  height: 40px;
  box-sizing: border-box;
  padding: 0 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
